@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* 1 */
body  {
    color: yellow;
    list-style: none;
    text-align: center;
    height: 100vh;
    background: url('../imgs/car.webp') center no-repeat;
    background-size: cover;
}

a,
.search__main-btn:hover,
.search__main select:hover,
.search__main input:hover{
cursor: pointer;
}

.registr__btn:hover, 
.home-form:hover, 
.newuser__btn,
.search__header-submit:hover,
.home__main-wrap:hover,
.home__header a:hover,
.search__header-btn:hover {
    transform: scale(1.2);
}


.home__header,
.search__header-wrap,
.registr__header-wrap {
    padding: 0.5% 1%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}   

.home__header a,
.search__header-wrap a, 
.registr__header-wrap a {
    background: url(../imgs/2023-10-15_14-29-24-742.jpg);
    width: 15%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.home-form,
.registr__header-form {
    width: 10%;
    border-radius: 40px;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 0 5px 10px yellow;
    transition: .5s;
    justify-content: center;
}


.home-btn, 
.search__header-btn {
    background-color: yellow;
    font-size: 1rem;
    font-weight: 600;
    padding: 5% 0%;
    border: none;
    text-align: center;
}

.home__heading {
    padding: 21.3vh 0 37.5vh;
    font-size: 7vmin;
    color: yellow;
    text-shadow: 0px 0px 7px #000;
    text-align: center;
}

.home__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.home__main-wrap{
    width: 9.46%;
    border: 2px solid black;
    background-color: black;
    color: black;
    margin-bottom: 3.6%;
}

.home__main-item a {
    text-decoration: none;
}


.home__cars__name {
    color: yellow;
}

.home__cars__price {
    font-weight: 700px;
    font-size: 2rem;
    color: yellow;
}

.home__news {
    display: flex;
    background-color: black;
    text-align: center;
    padding-top: 5px;
}

.home__news-front {
    display: flex;
    background-color: black;
    color: yellow;
    border: 1px solid black;
    font-size: 1rem;
}

.home__news span {
    background-color: yellow;
    color: black;
}

.search__header a{
    margin-right: -5%;
}

.search__header-form,
.registr__header-form {
    display: flex;
    justify-content: center;
    width: 10%;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}

.search__header-submit, 
.search__header-inp,
.registr__header-inp,
.registr__header-submit {
    padding: 0 2%;
    background-color: yellow;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    transition: .5s;
    box-shadow: 0 5px 10px yellow;
}

.search__header-inp {
    font-size: 0.9rem;
    padding-left: 70%;
}

.search__header-btn {
    width: 100%;
    padding: 5% 0;
    background-color: yellow;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    transition: .5s;
    margin-left: 1%;
    box-shadow: 0 5px 10px yellow;
}

.search-head {
    width: 33%;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 40px;
    margin: 1% auto;
}

.search__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
    position: relative;
    margin: 0 auto;
    border: 2px solid yellow;
    backdrop-filter: blur(20px); 
    border-radius: 10px;
}

.search__main-wrap {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1% 0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    background-color: #000000;
    color: yellow;
    font-size: 1rem;
}

.search__main-wrap select {
    width: 19%;
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-right: 2%;
}


.search__main-tipe {
    margin-right: 2%;
}

.search__main-wrap input {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    cursor: pointer;
}

.search__main-wrap label {
    width: 30%;
    font-size: 1rem;
    border: 2px solid yellow;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    color: yellow;
    margin-left: 1%;
    margin-right: 2%;
}

.search__main .search__main-price {
  font-size: 0.9rem;
  margin-right: 2%;
}

.search__main .search__main-price::placeholder {
    color: yellow;
    padding-left: 2%;
}

.search__main-btn {
    width: 80%;
    padding: 2%;
    color: yellow;
    background-color: black;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border: 2px solid yellow;
    border-radius: 40px;
    margin: 2% 0;
}



.registr__header-wrap {
    justify-content: center;
    padding: 0.5% 0;
}  

.registr__header-wrap a{
    margin-right: 15%;
}

.registr__header-form {
    background-color: black;
    box-shadow: none;
}

.registr__header-inp {
    border: none;
}

.registr__header-submit {
    padding: 2%;
}

.registr__main {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.registr__main-wrap {
    width: 21.88%;
    background-color: black;
    border: 2px solid yellow;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    padding: 1% 2%;
}
.registr__main-header {
    font-size: 2rem;
    text-align: center;
}

.registr__main-inp {
    position: relative;
    margin: 10% 0;
}

.registr__main-inp input {
    width: 100%;
    background: transparent; /*прозрачный */
    border: none;
    outline: none; /*контура нет */
    border: 2px solid yellow;
    border-radius: 40px;
    font-size: 1rem;
    color: yellow;
    padding: 5%;
}
    
.registr__main-inp input::placeholder {
    color: yellow;
    opacity: 0.7;
/* цвет символов в импутах */
}

.registr__main-inp .bx {
    position: absolute;
    right: 2%;
    top: 30%;
    transform: translate(-50%);
    background-color: #000;
    font-size: 1.25rem;
}

.registr__main-remember {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 5%;
    padding: 0 5%;
    align-items: center;
}

.registr__main-remember label input {
    accent-color: yellow; /*цвет фона ячейки где птичка */
}

.registr__main-remember a {
    color: yellow;
    text-decoration: none;
}

.registr__main-remember a:hover {
    text-decoration: underline;
}

.registr__main-btn
{
    width: 100%;
    padding: 5% 0;
    border-radius: 40px;
    background-color: yellow;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: .5s;
}

.registr__main-link {
    font-size: 0.8rem;
    text-align: center;
    margin: 10% 0 5%;
    color: yellow;
}

.registr__main-link p a {
    text-decoration: none;
    font-weight: 600;
}

.registr-link p a:hover {
    text-decoration: underline;
}

.registr__main-btn {
    margin-bottom: 10px;
}

/* 11 */
article.column {
    display: none;
    height: 63vh;
    background-color: black;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* 20 */
.column__heading {
    display: none;
    width: 98vh;
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

/* 10 */
.column-wrap {
    width: 98vh;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 1.4%;
}

/* 10 */
.column__block {
    background-color: black;
    color: yellow;
    border: 1px solid black;
    text-align: center;
    height: 10vh;
    width: 10vw;
    transition: all 2s;
}

/* 10 */
.column-spec {
    width: 200px;
    position: absolute;
    padding-top: 1.55%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    top: 1.8%;
    left: 45%;
}

/* 10 */
.column-mod {
    width: 200px;
    position: absolute;
    padding-top: 1.55%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    top: 1.8%;
    right: 0.1%;
}

/* 20 */
.column__block:hover {
    width: 450px;
    align-items: center;
    font-size: 7vmin;
    text-align: left;
    background-color:yellow;
    color: black;
    background-size: cover;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: (scale 1.1);
    -o-transform: scale(1.2);
    transition: all 1s;
}

/* 10 */
.row {
    display: none;
    width: 98vw;
    margin-top: 2.5%;
    height: 32.2vh;
    background-color: yellow;
    overflow: hidden;
}

/* 10 */
.row-wrap {
    width: 98vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: black;
}

.row__block {
    width: 98vw;
    height: 20vh;
    background-color: yellow;
    margin: 0 220px;
    color: black;
    transition: all 2s;
    align-content: space-around;
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    background-color:yellow;
    object-fit: cover;
}

/* 20 */
.row__block:hover {
    transform: rotate(720deg);
    opacity: 0;
    transition: all 2s;
}

/* 11 */
article.check {
    width: 100%;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 2%;
    background-color: black;
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
}

/* 10 */
.checkbox-1 {
    cursor: pointer;
    display: block;
}

/* 11 */
.checkbox-1 input {
    display: none;
}

/* 13 */
.checkbox-1 input+span:before {
    content: 'нет';
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 15px;
    font-size: 0.8rem;
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 15px black;
}

/* 23 */
.checkbox-1 input:checked+span:before {
    content: 'да';
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
}

/* 10 */
.checkbox-12 {
    margin: 0 20px 0 10px;
}

/* 10 */
.checkbox-2 {
    cursor: pointer;
    display: block;
}

/* 11 */
.checkbox-2 input {
    display: none;    
}

/* 12 */
.checkbox-2 input+span {
    display: block;
    position: relative;
    float: left;
    width: 70px;
    height: 25px;
    margin-right: 20px;
    background-color: yellow;
    border: 2px black;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

/* 22 */
.checkbox-2 input:checked+span {
    background-color: yellow;
}

/* 35 */
.checkbox-2 input+span:before {
    content: 'М';
    position: absolute;
    /* top: 2%;
    left: 2%; */
    height: 96%;
    width: 25px;
    background-color: black;
    border: 2px white;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    font-size: 1,1rem;
}

/* 23 */
.checkbox-2 input:checked+span:before {
    left: 43px;
    content: 'Ж';
    border: 2px black;
    font-size: 1,1rem;
}
